/*pang layout. hindi siguro to kasama sa final*/
td {
	border: solid 1px;
}

/*kasama sa lahat ng page*/
body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #F2FBFD;
	border: double 1px;
}
h1,h2,h3,h4,h5,h6
{
	margin: 0 0 12px;
}
#container {
	max-width:900;
	margin: 0 auto;
	font-family: Verdana;
}
#header {
	background-color:#34C4D7;
	margin: 0 auto;
	font-family: Verdana;
}
#htable {
	width:100%;
}
#hleft {
	font-size:72px;
	width:300;
	border: solid 0px #644D3B;
	border-radius: 10px;
}
#htop {
	font-size:32px;
	padding: 0px 20px;
	border: solid 0px #644D3B;
	border-radius: 10px;
}

/*menu*/

#hbot {
  	border: solid 1px #644D3B;
  	border-radius: 10px 10px 0px 0px;
}

#hbot > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #34C4D7;
}

#hbot > ul li {
  display: block;
  *display: inline-block;
  zoom: 1;
  padding: 0px 20px;
}
  
#hbot > ul li a:link,
#hbot > ul li a:visited {
	text-decoration: none;
	color: black;
}

#hbot > ul li a:active,
#hbot > ul li a:hover {
  background: transparent;
  color: black;
  text-shadow: 0px 0px 0px #000;
  text-decoration: underline;
}

/*content*/
#content {
	min-height: 500px;
}

#content a:link {
	text-decoration: none;
	color:black;
}

#content a:visited {
	text-decoration: none;
	color:black;
}

#content a:active,
#content a:hover {
  background: transparent;
  color: black;
  text-shadow: 0px 0px 0px #000;
  text-decoration: underline;
}


#center {
	text-align:center;
	margin: 10px auto;
	clear:both;
}

#left, #right {
	margin: 10px auto;
}

.box {
	border: solid 3px #644D3B;
	margin: 5px 30px;
	padding: 30px;
	height: 200px;
	border-radius: 25px;
}

.hbox {
	background-color: #34C4D7;
}

.widebox {
	border: solid 1px;
	margin: 5px 60px;
	border: solid 1px #644D3B;
	border-radius: 10px;
	height: 150px;
}

.smallbox {
	border: solid 1px #644D3B;
	border-radius: 10px;
	width: 300px;
	margin: 5px auto;
}

.abox {
	border: solid 1px;
	margin: 5px 60px;
	border: solid 2px #644D3B;
	border-radius: 10px;
	height: 350px;
}

p {
	padding: 0 30px;
	text-align:justify;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#about {
	text-indent: 50px;
}
#indented {
	padding-left: 80px;
}

#footer {
	text-align:center;
	clear:both;
}

/*wide*/
@media (min-width: 800px) {
	#hbot > ul li {
	  display: inline-block;
	}
	
	#left
	{
		float: left;
		width: 50%;
		*margin-right: 4%;
	}

	#right
	{
		float: left;
		width: 50%;
	}
}