/*pang layout. hindi siguro to kasama sa final*/
td {
	border: solid 1px;
}

/*kasama sa lahat ng page*/
body{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #F2FBFD;
	border: double 1px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0 0 12px;
}

#container {
	max-width:900;
	margin: 0 auto;
	font-family: Verdana;
}

#header {
	background-color:#34C4D7;
	margin: 0 auto;
	font-family: Verdana;
	border-bottom: thin solid #644D3B;
}

#htable {
	width:97%;
}

#hleft {
	font-size:72px;
	width:300;
	border: solid 0px #644D3B;
	border-radius: 10px;
}

#htop {
	font-size:32px;
	padding: 0px 20px;
	border: solid 0px #644D3B;
	border-radius: 10px;
}

/*menu*/

#hbot {
  	border: solid 1px #644D3B;
  	border-radius: 10px 10px 0px 0px;
  	border-bottom: thin solid transparent;
}

#hbot > ul {
  width: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: #34C4D7;
  border-radius: 10px 10px 0px 0px;
}

#hbot > ul li {
  display: block;
  *display: inline-block;
  zoom: 1;
  padding: 0px 20px;
}
  
#hbot > ul li a:link,
#hbot > ul li a:visited {
	text-decoration: none;
	color: black;
}

#hbot > ul li a:active,
#hbot > ul li a:hover {
  background: transparent;
  color: black;
  text-shadow: 0px 0px 0px #000;
  text-decoration: underline;
}

/*content*/
#content {
	min-height: 500px;
}

#content a:link {
	text-decoration: none;
	color:black;
}

#content a:visited {
	text-decoration: none;
	color:black;
}

#content a:active,
#content a:hover {
  background: transparent;
  color: black;
  text-shadow: 0px 0px 0px #000;
  text-decoration: underline;
}


#center {
	text-align:center;
	margin: 0px auto;
	padding: 0;
	clear:both;
}

#left, #right {
	margin: 10px auto;
}

.box {
	border: solid 3px #644D3B;
	margin: 5px 30px;
	padding: 30px;
	height: 200px;
	border-radius: 25px;
}

.hbox {
	background-color: #34C4D7;
}

.widebox {
	border: solid 1px;
	margin: 5px 60px;
	border: solid 1px #644D3B;
	border-radius: 10px;
	height: 150px;
}

.smallbox {
	border: solid 1px #644D3B;
	border-radius: 10px;
	width: 300px;
	margin: 5px auto;
}

.abox {
	border: solid 1px;
	margin: 5px 60px;
	border: solid 2px #644D3B;
	border-radius: 10px;
	height: 350px;
}

p {
	padding: 0 30px;
	text-align:justify;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#about {
	text-indent: 50px;
}

#indented {
	padding-left: 80px;
}

#footer {
	text-align:center;
	clear:both;
}

.popup{
	display:none !important;
}

/*wide*/
@media (min-width: 800px) {
	#hbot > ul li {
	  display: inline-block;
	}
	
	#left
	{
		float: left;
		width: 50%;
		*margin-right: 4%;
	}

	#right
	{
		float: left;
		width: 50%;
	}
}

/*slider*/
#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}

#sliderFrame {
    position:relative;
    width:100%;
    margin:0 auto;
}

#slider, #slider div.sliderInner {
    width:770px;height:200px;
}

#slider {
	background:#fff url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
    box-shadow: 0px 1px 5px #999999;
}

/* image wrapper */
#slider a.imgLink, #slider div.video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
#slider div.caption-bg, #slider div.caption-bg2 {
	position:absolute;
	width:440px;
	height:auto;
	padding:10px 0;
	left:160px; 
	bottom:10px;
	z-index:3;
	overflow:hidden;
	font-size: 0;
}

#slider div.caption-bg {
	background:Black;
	border:.5px solid white;
	border-radius:5px;
}

#slider div.caption-bg2 {
    background:none;
}

#slider div.caption {
	font: bold 15px Verdana;
	color:#EEE;
	z-index:10;
	text-align:center;
    background:none;
}

#slider div.caption a {
	color:#FB0;
}

#slider div.caption a:hover {
	color:#DA0;
}


/* built-in navigation bullets wrapper */
#slider div.navBulletsWrapper  {
    top:210px;
	text-align:center;
	background:none;
	position:relative;
	z-index:5;
}

/* each bullet */
#slider div.navBulletsWrapper div 
{
    width:9px; height:9px;
    border:1px solid #AAA;
    background:#EEE;
    color:#AAA;
    font-size:0;
    text-align:center;
    display:inline-block; *display:inline; zoom:1;
    overflow:hidden;cursor:pointer;
    margin:0 9px;/* set distance between each bullet*/
    border-radius:50%;
    box-shadow:inset 0 0 4px #AAA;
}

#slider div.navBulletsWrapper div.active {
	border-color:#3E99C6;
    background:#34C4D7;
    color:White;
}


/* --------- Others ------- */

#slider div.loading 
{
    width:100%; height:100%;
    background:transparent url(loading.gif) no-repeat 50% 50%;
    filter: alpha(opacity=60);
    opacity:0.6;
    position:absolute;
    left:0;
    top:0; 
    z-index:9;
}

#slider img, #slider>b, #slider a>b {
	position:absolute; 
	border:none; 
	display:none;
}

#slider div.sliderInner {
	overflow:hidden; 
	-webkit-transform: rotate(0.000001deg);/* fixed the Chrome not crop border-radius bug*/
	position:absolute; top:0; left:0;
}

#slider>a, #slider video, #slider audio {
	display:none;
}

#slider div {
	-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);
}